<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="PHP BitTorrent Tracker unit tests">
      <directory>tests/PHP/BitTorrent/Tracker/UnitTest</directory>
    </testsuite>
    <testsuite name="PHP BitTorrent Tracker integration tests">
      <directory>tests/PHP/BitTorrent/Tracker/IntegrationTest</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-html" target="build/coverage" title="Code coverage" charset="UTF-8" yui="true" highlight="true" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
  </logging>
  <php>
    <!-- Host and port for the integration tests using the built in httpd in php-5.4 -->
    <var name="HTTPD_HOSTNAME" value="localhost" />
    <var name="HTTPD_PORT" value="8888" />
  </php>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">PHP/BitTorrent/Tracker</directory>
    </whitelist>
  </filter>
</phpunit>
